
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: rgb(43, 41, 41);
  }
  
  .btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    color: rgb(235, 231, 231);
    margin: 20px 0;
  }
  
  #up {
    background-color: rgb(14, 223, 14);
  }
  #up:hover {
    background-color: rgb(31, 172, 31);
  }
  #down {
    background-color: rgb(255, 12, 12);
  }
  #down:hover {
    background-color: rgb(211, 1, 1);
  }
  